* {
    margin: 0px;
    padding: 0px;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.entry-point {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #b5b1ca, #56629f);
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    opacity: 1;
}

.cloud {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 6s ease-out, opacity 1s ease-out;
}

#cloud1 { left: 0%; }
#cloud2 { left: 30%; }
#cloud3 { left: 15%; }
#cloud4 { left: -20%; }
#cloud5 { left: 0%; }
#cloud6 { left: 00%; }

.heading {
    z-index: 2;
    font-size: 4rem;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-out;
}
.click {
    opacity: 0;
    transition: opacity 1s ease-out;
}
.continue-btn {
    z-index: 2;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.reveal {
    transform: translateX(-100vw);
}

.reveal-right {
    transform: translateX(100vw);
}
.heading {
    z-index: 2;
    font-size: 4rem;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.continue-btn {
    z-index: 2;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.hidden {
    opacity: 0;
}


